# 忽略Libraries文件夹下的所有文件
smartcarrace-20th-mini-electromagnetic/Libraries/*

# 忽略/.vscode文件夹
**/.vscode/

# 忽略Out_File文件夹
smartcarrace-20th-mini-electromagnetic/Project/MDK/Out_File/

# 忽略日志文件
*.log

# 忽略配置文件
*.json