CompileFlags:
  Add:
    - '-IF:\keil5\C251\INC'
    - '-IF:\keil5\C251\INC\STC'
    - '-ILibraries\libraries'
    - '-ILibraries\seekfree_libraries'
    - '-ILibraries\seekfree_peripheral'
    - '-IProject\CODE'
    - '-IProject\USER\inc'
    - '-IProject\USER\src'
    - '-ILibraries\seekfree_components'
    - '-D__C251__'
    - '-D__VSCODE_C251__'
    - '-Dreentrant='
    - '-Dcompact='
    - '-Dsmall='
    - '-Dlarge='
    - '-Ddata='
    - '-Didata='
    - '-Dpdata='
    - '-Dbdata='
    - '-Dedata='
    - '-Dxdata='
    - '-Dcode='
    - '-Dbit=char'
    - '-Dsbit=char'
    - '-Dsfr=char'
    - '-Dsfr16=int'
    - '-Dsfr32=int'
    - '-Dinterrupt='
    - '-Dusing='
    - '-Dfar='
    - '-D_at_='
    - '-D_priority_='
    - '-D_task_='
